@import"variables";
@import "button";
@import"hover";


html,
body {
  margin: 0;
  height: 100%;
  background-color: $third-color;
}

.container {
  .row {
    .col {
      h1 {
        margin-left: 2em;
        color: $third-color;
        border: 1px solid;
        width: 9em;
        background-color: $fifth-color;
        border-radius: 5px;
      }
      background-color: $second-color;
      border: 1em solid $first-color;
      border-radius: 3em;
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        li {
          background-color: $fifth-color;
          border: 1.5px solid $fifth-color;
          border-radius: 10px;
          width: 8em;
          height: 1.5em;
          list-style: none;
          margin-right: 1.5em;

          a {
            color: $first-color;
            text-decoration: none;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

.container-1 {
  .col {
    background-color: $second-color;
    border: 1em solid $first-color;
    border-radius: 3em;
    width: 98%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      width: 340px;
      height: 300px;
      border: 0.5px solid;
      border-radius: 30px;
      cursor: pointer;
      display: flex;
      margin-right: 2em;
    }
    p {
      color: $fourth-color;
      font: {
        size: 1.5em;
        
      }
    }
    h1 {
      color: $fifth-color;
      cursor: pointer;
      text-align: center;
    }
  }
}

footer {
  background-color: $first-color;
  border: 1em solid $first-color;
  border-radius: 3em;
  width: 98%;
  height: 200px;

  justify-content: space-around;
  h4 {
    a {
      text-decoration: none;
      color:$white-color;
      display: flex;
      justify-content: center;
    }
}
.icone{
    display: flex;
    justify-content: space-evenly;
    color: $white-color;
}
}

